<!DOCTYPE html>
<html>
<head>
	<title>hello</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<a href="/">Home</a> |
	<a href="/nepal/">Nepal</a> |
	<a href="/about/">About</a> |
	<a href="/task/list/">Tasks</a> |
	<a href="/blog/list/">Blogs</a> |
	<a href="/bottle/list/">Bottles</a>|
	{% if request.user.is_authenticated %}
	<a href="#">{{request.user}}</a>-
	<a href="{% url 'taskapp:logout' %}">Logout</a>|
	{% else %}
	<a href="{% url 'taskapp:login' %}">Login</a>|
	{% endif %}
	<a href="{% url 'taskapp:signup' %}">Sign UP</a>|
	<hr>

	{% block content %}
	{% endblock %}
</body>
</html>