{% extends "base.html" %}
{% block content %}
<h2>All Blogs</h2>
<a href="/blog/add/">CreateBlog</a><hr>

{% for i in allblogs %}
<b><li><a href="/blog/{{i.id}}/detail/">{{i.title}}</a> <a href="/blog/{{i.id}}/update/">    Update</a></li></b>
<b><p>{{i.author}}</p></b>

{% endfor %}
{% endblock %}