{% extends "base.html" %}
{% block content %}

<a href="/blog/list/"><button>Back</button></a><hr>
<h3>{{blogobject.title}}<button><a href="/blog/{{blogobject.id}}/delete/">Delete</a></button></h3>
<p>{{blogobject.description}}</p>
<p>{{blogobject.author}}</p>



{% endblock %}