{% extends "base.html" %}
{% block content %}
<h2>All Bottles</h2>
<a href="/bottle/add/">CreateBottle</a><hr>
{% for i in allbottles %}
<li>{{i.bottle_type}}</li>
<p>{{i.color}}</p>
<p>{{i.company}}</p>
{% endfor %}
{% endblock %}