{% extends "base.html" %}
{% block content %}

<div class="row">
	
	<div class="col-md-4 mx-auto">
		<h3>All Task Assigned to: {{request.user}}</h3><hr>
		
		{% for us in request.user.task_set.all %}
		
			<li><a href="{% url 'taskapp:taskdetail' us.pk %}">{{us.title}}</a></li>
			

		
		{% endfor %}
	</div>
</div>
{% endblock %}