{% extends 'base.html' %}

{% block title %}
       	Signup
		{% endblock %}


{% block content %}
<div class="row">
	<div class="col-md-4 mx-auto">
		<h3>
			<u><b>SignUp Form</b></u>
		</h3>
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-info">Submit</button>
			<b><span class="text-danger">
				{{error}}
			</span>
			</b>
		</form>
		
	</div>
	
</div>


{% endblock %}