{% extends "base.html" %}
{% block content %}
<h2>All Tasks</h2>
<a href="/task/add/">CreateTask</a>
<hr>
{% for i in alltasks %}

<b><li><a href="/task/{{i.id}}/detail/">{{i.title}}</a>(<a href="/task/{{i.id}}/update/">Update</a>)
</li></b>
<b><p>{{i.created_on}}</p></b>

{% endfor %}
{% endblock %}