{% extends "base.html" %}




{% block content %}
<a href="/task/list/"><button>Back</button></a><hr>
<h3><u>{{taskobject.title}}
	<!-- <button><a href="/task/{{taskobject.id}}/delete/">Delete</a></button> -->
</u>
</h3>
<p>{{taskobject.description}}</p>
<h4>Due Date:{{taskobject.due_date}}</h4>


{% endblock %}